@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.cajas-container{
    background-color: chartreuse;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 30px;
}
.caja{
    width: 300px;
    height: 300px;
    border: 5px solid black;
}
.caja-1{
    background-color: aqua;
}
.caja-2{
    background-color: blue;
}
.caja-3{
    background-color: brown;
}
.caja-4{
    background-color: darkgreen;
}

header{
    background-color: rgb(32, 32, 32);
    display: flex;
    color: white;
    padding: 3vh 7vw;
    justify-content: space-between;

}
a{
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    gap: 6vw;
}
.btn-menu{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 25px;
    display: none;
}

.caja-especial{
    margin: 0 auto;
}

/* media query */

@media screen and (max-width: 800px) {
    nav {
        display: none;
    }
    .btn-menu{
        display: block;
    }
}
@media screen and (max-width:450px) {
    header h2{
        font-size: 20px;
    }
}

/* SASS, LESS son una forma de darle lógica y orden a nuestro css */